.toTop {
    position: fixed;
    bottom: 10px;
    right: 20px;
    height: 55px;
    width: 50px;
    font-size: 2em;
    line-height: 50px;
    color: #DEDEDE;
    background-color: #FFF;
    border: 2px solid #DEDEDE;
    border-radius: 5px;
    cursor: pointer;
    z-index: 100;
}
